header {
    position: fixed;
    top: 0px;
    background-color: white;
}
h1 {
    margin: 0;
}
a, a:visited {
    color: blue;
    text-decoration: none;
}
@media screen and (min-width: 48rem) {
    body, header, footer {
        width: 48rem;
        margin: 0 auto;
    }
}
article {
    margin-top: 4em;
    margin-bottom: 4em;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: darkred;
    color: white;
    text-align: center;
}
button {
    width: 100%;
    background-color: white;
}
button:disabled,
button[disabled]{
    color: black;
}
button.correct {
    background-color: lightgreen;
}
button.incorrect {
    background-color: red;
}
button.hidden {
    display: none;
}
#prompt {
    text-align: center;
}
#prompt, button.option, button.big {
    font-size: 2em;
}
table {
    width: 100%;
}
th, td {
    border: 1px black solid;
}
th:first-child {
    width: 100px;
}
